{{ form_start(form) }}
    {{ form_errors(form) }}
    
    <div>
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div>

    <div>
        {{ form_label(form.url) }}
        {{ form_widget(form.url) }}
        {{ form_errors(form.url) }}
    </div>

    <div>
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>

    <button class="btn btn-dark" type="submit">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}