{% extends 'base.html.twig' %}

{% block title %}Link{% endblock %}

{% block body %}
    <h1>Lien</h1>

    <table class="table table-primary">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ link.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ link.title }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ link.url }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ link.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_link_index') }}">Retour à la liste</a>

    <a href="{{ path('app_link_edit', {'id': link.id}) }}">Éditer</a>

    {{ include('link/_delete_form.html.twig') }}
{% endblock %}
